<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>取现帮助</title>
<style type="text/css">
	h4 {
        text-indent: 2em;
        font-size: 20px;
        color: #808080
	}
	p {
        text-indent: 2em;
		font-size: 20px;
		color: #808080
	}
</style>
</head>

<body>
    
<h4>
    温馨提示
</h4>
<p>
1.提现手续费每笔2元(推广期间由平台承担),详见资费说明
</p>
<p>
2.单日最多可提现10次
</p>
<p>
3.预计到账时间:
T日申请提现,预计T+1个工作日到账;
遇双休日或法定节假日顺延,实际到账时间可能会受各银行工作时间影响
</p>
<p>
4.其他
恶意提现,您的账户将被冻结,请您与平台客服联系:40001000915
</p>


</body>
</html>